.container {
  padding-top: 8rem;
  padding-bottom: 5.1rem;

  width: 80rem;
  margin: auto;

  text-align: center;
}

.title {
  margin-bottom: 2.5rem;
}

.brands_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
